.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btn-btn-edit {
    background-color:#003598;
    color: #fff;
    border:none; 
    border-radius:10px; 
    margin-right: 4px;
    min-height:30px; 
    min-width: 55px;
  }

.btn-btn-delete {
    background-color:#e22121;
    color: #fff;
    border:none; 
    margin-right: 4px;  
    border-radius:10px; 
    min-height:30px; 
    min-width: 55px;
  }

.btn-btn-view {
    background-color:#ada9a9;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height:30px; 
    min-width: 55px;
  }

.btn-btn-contact {
    background-color:#003598;
    color: #fff;
    border:none; 
    margin-right: 690px;
    border-radius:10px; 
    margin-bottom: 10px;
    min-height:30px; 
    min-width: 55px;
  }

.Title {
    background-color:#009879;
    border:none; 
    border-radius:10px; 
    width: 800px;
    margin: auto;
    color: #fff;    
}

.btn-btn-edit:hover,
.btn-btn-contact:hover{
	background: #144064;
}

.btn-btn-delete:hover{
	background: #990f0f;
}

.btn-btn-view:hover{
	background: #756b6b;
}