.card {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    background-color: #009879;
    align-content: center;
    margin: 0 auto;
    color: white;
}

.card-header {
    height: 30%;
    background: #009879;
    color: white;
    text-align: center;
}

.card-header p {
    font-size: 20px;
}


.container  {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    align-content: center;
    margin: 0 auto;
  }

.btn-btn-back {
    background-color:#003598;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height: 30px; 
    min-width: 95px;
    margin-bottom: 10px;
}

.btn-btn-back:hover{
	background: #144064;
}
